body {
  background: url("/images/abstract_book_pic.jpg") no-repeat center center fixed;
  background-size: cover;
  font-family: fantasy;
}

h1 {
  text-align: center;
}

.container{
  display: grid;
  grid-template-rows: 1fr 5fr 1fr;
  grid-template-columns: 2fr 5fr 3fr;
  grid-template-areas:
    "header header header"
    "nav main aside"
    "footer footer footer";
  grid-gap: .30em;
  border: groove black;
  margin: 15px;
}

header{
    grid-area: header;
    background-color: none;
}

nav{
    grid-area: nav;
    background-color: none;
}

main{
    grid-area: main;
    background-color: none;
}

aside{
    grid-area: aside;
    background-color: none;
    color: cornsilk;
}

footer{
    grid-area: footer;
    background-color: #3C1518;
    text-align: center;
}

img {
  display: block;
  max-width:800px;
  max-height:300px;
  width: auto;
  height: auto;
}

a:link {
  color: black;
  background-color: transparent;
  text-decoration: underline;
}

a:hover {
  color: brown;
  background-color: transparent;
  text-decoration: underline;
}

ul  {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  float: left;
}

li  {
  display: inline;
  padding: 15px;
  background-color: #3C1518;
}
