.welcome {
  background: url("/images/abstract_book_pic.jpg") no-repeat center center;
  background-size: cover;
  color: white;
}

body {
  font-family: fantasy;
  background-color: #eddcb1;
}

h1 {
  text-align: center;
}

.item {
  padding: 0px;
}

.container  {
  grid-template-columns: 25% 25% 25% 25%;
  grid-template-rows: auto;
  grid-template-areas: 'header header header';
}

.card-columns {
  padding-left: 10px;
  @include media-breakpoint-only(lg)  {
    column-count: 3;
  }
}

.entrance {
  text-align: center;
}

.collection {
  background-color: #eddcb1;
}

.show_page {
  background-color: #eddcb1;
  padding: 1px;
  margin: 1px;
}

img {
  display: block;
  max-width:800px;
  max-height:300px;
  width: auto;
  height: auto;
  padding: 1px;
}

a:link {
  color: black;
  background-color: transparent;
  text-decoration: underline;
}

a:hover {
  color: brown;
  background-color: transparent;
  text-decoration: underline;
}

ul  {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  float: left;
}

li  {
  display: inline;
  padding: 15px;
}

#card-body {
  background-color: #eddcb1;
}
