<html style="background:url(/images/grass_book.jpeg) no-repeat center center fixed; font-family: fantasy;"
<br>
<br>
<%= link_to "#{@author.name}", author_path(@author) %>
<% @author.books.each do |book| %>
<ul>
  <li><%= book.title %></li>
  <li><%= book.year %></li>
  <li><%= book.pages %></li>
</ul>
</html><% end %>
