<html>
<body class="welcome">
<div>

  <br>
  <h1> Welcome to Book Club </h1>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <div class="entrance">

  <h3><%= link_to "See all books", books_path %></h3>
  </div>
</div>
</body>
</html>
