<h1>All Books</h1>

<% @books.each do |book| %>
<h2><%= book.title%></h2>
<p>Pages: <%= book.pages %></p>
<p>Year: <%= book.year %></p>
<img src=<%= book.thumbnail %> alt="picture of book">
<% end %>
